{% extends 'base.html' %}

{% block content %}
<ul class="movie-list">
    <li>
        Page Not Found - 404
        <span class="float-right">
            <a href="{{ url_for('index') }}">Go Back</a>
        </span>
    </li>
</ul>
{% endblock %}




<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>{{ user.name }}'s Watchlist</title>-->
<!--    <link rel="icon" href="{{ url_for('static', filename='bitbug_favicon.ico') }}">-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">-->
<!--</head>-->
<!--<body>-->
<!--    <h2>-->
<!--        <img alt="Cat" class="cat" src="{{ url_for('static', filename='images/cat.jpg') }}">-->
<!--        {{ user.name }}'s Watchlist-->
<!--    </h2>-->
<!--    <ul class="movie-list">-->
<!--        <li>-->
<!--            Page Not Found - 404-->
<!--            <span class="float-right">-->
<!--                <a href="{{ url_for('index') }}">Go Back</a>-->
<!--            </span>-->
<!--        </li>-->
<!--    </ul>-->
<!--    <footer>-->
<!--        <small>&copy; 2022 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>-->
<!--    </footer>-->
<!--</body>-->
<!--</html>-->